* { 
    box-sizing: border-box; 
}

header, main, nav, footer, figure, figcaption, aside, section, article {
    display: block;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #90C7E3;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px 3px 3px #333333;
    border-width: 1px;
    border-color: #000033;
    background-image: linear-gradient(to bottom, goldenrod, yellow);
    background-repeat: no-repeat;
}

body {
    color: #666666;
    background-color: #B8DBED;
    font-family: sans-serif;
    background-color: #90C7E3;
}

header {
    background-color: goldenrod;
    text-align: center;
    color: #FFFFFF;
    height: 80px;
    padding-top: 1px;
}

nav {

    list-style-type: none;
    margin: 0.2%;
    overflow: hidden;
    background-color: #333;
    font-weight: bold;
    padding: 0.5em;
    font-size: 120%;    
}

nav a {
    text-decoration: none;
    transition: ease-out 0.15s;
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    padding: 8px 15px;
}

nav a:link {
    color: white;
}

nav a:visited {
    color: red;
}

nav a:hover {
    color: lightgreen;
}

#welcome {
    margin-left: 15px;
    font-style: italic;
    font-size: 1.5em;
}

#explanation {
    margin-left: 25px;
    margin-top: 12px;
    font-size: 1.25em
}

#bulletPointHeader {
    font-size: 1em;
    margin-left: 25px;
}

nav #pictureExamples {
    font-size: 1em;
    list-style: square inside;
}

h2 {
    font-weight: bolder;
    text-align: center;
    font-size: 200%;
}

h3 {
    font-style: italic;
    text-align: center;
    font-size: 150%;
}

h4 {
    text-align: center;
}

#border {
    border-top: thin solid darkblue;
    margin-bottom: 1%;
}

.animalData {
    margin-left: auto;
    margin-right: auto;
    border-color: darkblue;
    border-style: solid;
    border-width: 2px;
    margin-top: 5%;
    font-size: 150%;
}

.animalData th {
    text-align: left;
    border-bottom: thin solid darkblue;
    width: 70%;
}

.animalData td {
    text-align: right;
    border-bottom: thin solid darkblue;
    border-left: thin solid darkblue;  
    padding-left: 1%;
    padding-right: 1%;    
    width: 20%;
}

form {
    padding: 2em;
}

main {
    padding: 0em 2em 2em 2em;
    display: block;
    margin-left: 170px;
}